<p style="margin-left: 5%">
  My software development portfolio is not yet live.<br>

  For now, check out my <a href="https://github.com/chloecacola" target="_blank">github</a><br>
  ..and my <a href="../../assets/files/ChloeCorrigan_DevResume2018.pdf" target="_blank">resume</a>
  <br>
  <br>
  <span style="text-decoration: underline;">I have experience with the following:</span><br><br>
  HTML5, CSS3, Sass, Angular 2+, React, Javascript, jQuery, Bootstrap<br>
  C#, .Net, Selenium,<br>
  JSON, XML, RESTful APIs,<br>
  Node.js, Git<br>
  Objective-C (<em>limited, debugging only and some refactoring</em>)<br>
  <b>Tools:</b>  Sublime Text, Webstorm, VS Code, VS 2017, XCode, Trello, Wordpress<br>
  <b>Source Control:</b>  Bitbucket, Github<br>
  <b>Work approach:</b> Agile, Waterfall
  <br><br>

  I am highly adaptable and love learning new skills.  <br>
  I do not have a preference for what I code in or what I code on,
  as long as I am building a quality product!<br>

</p>

<p>
  <a href="/"> <-- go back to homepage.</a>
</p>
