<p style="margin-left: 5%">
  My software development portfolio is not yet live.<br>

  For now, check out my <a href="https://github.com/chloecacola" target="_blank">github</a><br>
  ..and my <a href="../../assets/files/ChloeCorrigan_DevResume2018.pdf" target="_blank">resume</a>
  <br>
  <br>
  <span style="text-decoration: underline;">I have experience with the following:</span><br><br>
  HTML5, CSS3, Angular 2+, React, Javascript, jQuery,<br>
  C#, .Net, Java, Selenium,<br>
  JSON, XML,<br>
  Git<br>
  Objective-C<br>
  <b>Tools:</b>  Sublime Text, Webstorm, VS Code, VS 2017, XCode, Trello<br>
  <b>Source Control:</b>  Bitbucket, Github<br>
  <b>Work environment:</b> Agile, Waterfall
  <br><br>

  Sorry this page is ugly right now. ): <em>It will be beautiful soon.</em>

</p>

<p>
  <a href="/"> <-- go back to homepage.</a>
</p>
