/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nixie+One|Josefin+Sans:100|Sedgwick+Ave+Display&display=swap');

h1 {
  font-family: 'Sedgwick Ave Display', sans-serif;
}

h2 {
  font-family: 'Nixie One', cursive;
}

body {
  background-color: linen;
  color: #393939;
}

a {
  text-decoration: none;
  color: #454543;
  font-family: 'Nixie One', cursive;
}
